<legend><h2>Python is motherfucking easy</h2></legend>
<p>Lorem ipsum dolor sit <code>amet</code>, consectetur adipiscing elit. Sed nec semper felis, non mollis diam. Nunc rhoncus elit non vehicula maximus. Morbi ac dictum leo. In eget turpis ultricies, viverra diam id, aliquet lectus. Fusce varius, nibh placerat semper congue, sapien ante ullamcorper nibh, quis tincidunt turpis metus vitae diam. Ut quis pellentesque lorem. Pellentesque leo purus, tincidunt eget pharetra eu, euismod sed dui. Donec ut erat nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ligula ante, posuere quis convallis a, bibendum at dui. Duis erat elit, vehicula vitae ipsum eget, tempor bibendum augue. Etiam risus enim, pretium vitae justo eget, suscipit vehicula ante. Pellentesque eget arcu sit amet ipsum posuere convallis a fringilla elit. Phasellus feugiat nulla a rhoncus vestibulum.</p>

<pre>
a = 1
b = 5
c = a + b
print "hola mundo"
</pre>


<%= image_tag :python, class: "img-responsive center-block" %>

