Enviado

<h3>Codigo enviado</h3>

<p><%= simple_format params[:codigo] %></p>

<h3>Resultado</h3>

<% if @error_codigo %>

	<p>Error</p>
	<p><%= @error_trace %></p>

<% else %>

	<% if @casos_correctos == @casos_totales %>
		<p>Accepted</p>
	<% end %>

	<p><%= @casos_correctos %> / <%= @casos_totales %></p>

<% end %>
